.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.section.main .container {
    padding-top: 4rem;
    padding-bottom: 1rem;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background-color: lightgoldenrodyellow;
}

.section.results .container {
    padding-top: 4rem;
    padding-bottom: 4rem;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: lightgray;
}

.section.results table {
    margin: 0 auto;
}
