<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDFData</title>
</head>
<body>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="submit">

    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
</form>

</body>
</html>
