<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDFData</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

<div class="section main">
    <div class="container">
        <form id="form" action="/upload" method="post" enctype="multipart/form-data">
            <select name="type">
                <option value="table">View</option>
                <option disabled>───────</option>
                <option value="csv">Download CSV</option>
                <option value="json">Download JSON</option>
            </select>
            <input type="file" name="file" id="file"><br>
            <input type="submit" class="button-primary">

            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
        </form>

        <hr>

        <p>Upload a PDF file to view or download stored data.<br>
            Powered by <a href="https://github.com/Aiybe/xmptest">PDFData</a>.
            <a href="https://github.com/Aiybe/xmptest/blob/master/README.md">Full documentation &rarr;</a></p>
    </div>
</div>

</body>
</html>
