<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDFData - Read</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

<div class="section results">
    <div class="container">

        {{#each tables}}

        <h2>{{name}}</h2>
        <table>
            {{#if columnNames}}
            <thead>
            <tr>
                {{#each columnNames}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
            </thead>
            {{/if}}

            <tbody>
            {{#each cells}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
            {{/each}}
            </tbody>
        </table>

        {{/each}}

    </div>
</div>

</body>
</html>
