<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDFData</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

<div class="section main">
    <div class="container">
        <form id="form" action="/write/upload" method="post" enctype="multipart/form-data">
            <label>PDF <input type="file" name="pdf" id="pdf"></label>
            <label>Data <input type="file" name="data" id="data"></label>
            <input type="submit" class="button-primary">
        </form>

        <hr>

        <p>Upload a PDF file to view or download stored data.<br>
            Powered by <a href="https://github.com/Aiybe/xmptest">PDFData</a>.
            <a href="https://github.com/Aiybe/xmptest/blob/master/README.md">Full documentation &rarr;</a></p>
    </div>
</div>

</body>
</html>
